body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }

  /* Styles for the password form */
  #password-form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  #password-form label {
    display: block;
    margin-bottom: 10px;
  }
  #password-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #password-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #password-form button:hover {
    background-color: #0056b3;
  }

  /* Styles for the data form */
  #data-form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
  }
  #data-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  #data-form input[type="text"],
  #data-form input[type="email"],
  #data-form input[type="tel"],
  #data-form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #data-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #data-form button:hover {
    background-color: #0056b3;
  }